<template>
    <div class="image-picker-frame">
        <div>
            <a class="btn btn-light image-picker-toggle-btn" @click="togglePicker">Выбрать</a>
        </div>
        <transition name="fade">
            <div v-show="pickerIsOpen">
                <div class="image-picker-wrap">
                    <div class="image-picker-head">
                        <h5>{{ titleMessage }}</h5>
                    </div>
                    <div class="image-picker-body">
                        <div v-for="icon in icons" class="image-wrap" @click="chooseIcon(icon)"
                             :class="icon === currentValue ? 'active' : ''">
                            <img :src="icon">
                        </div>

                        <div class="image-wrap" @click="addNewIcon()">
                            <div class="add-new-icon-wrapper" title="Добавить новую иконку">
                                <i class="fas fa-plus"></i>
                            </div>
                        </div>
                        <input type="file" id="images" ref="images" class="form-control" name="image" v-show="addImage"
                               @change="handleFilesUpload($event)">
                        <input type="text" :value="value" v-show="false">
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
  export default {
    name: "image-picker",
    props: ['value', 'title'],
    data() {
      return {
        icons: [],
        currentValue: this.value,
        pickerIsOpen: false,
        addImage: false,
        titleDefault: 'Выберите иконку или добавьте свою',
        files: [],
      }
    },
    computed: {
      titleMessage() {
        return this.title ? this.title : this.titleDefault;
      }
    },
    methods: {
      handleFilesUpload(e) {
        this.files = e.target.files;

        const data = new FormData();
        if (this.files.length) {
          console.log(this.files[0]);
          data.append('image', new Blob([this.files[0]], { type: this.files[0].type }));
        }

        data.append('_method', 'POST');

        let options = {
          method: 'POST',
          url: '/admin/icons',
          data: data,
        };
        axios(options)
          .then(response => {
            this.getIcons()
          })
          .catch(errors => {
            swal({
              title: 'Упс, ошибка при загрузке',
              icon: 'error'
            });
          });
        this.files = [];
      },
      addNewIcon() {
        $('#images').click();
      },
      togglePicker() {
        this.pickerIsOpen = !this.pickerIsOpen;
      },
      chooseIcon(icon) {
        this.currentValue = icon;
        this.$emit('change', icon);
        this.closePicker();
      },
      closePicker() {
        this.pickerIsOpen = false;
      },
      getIcons() {
        axios.get('/admin/icons')
          .then(response => {
            this.icons = response.data;
          });
      },
    },
    created() {
      this.getIcons();
    }
  }
</script>

<style scoped>
    .add-new-icon-wrapper i {
        font-size: 23px;
        padding-top: 4px;
        padding-bottom: 0;
        padding-left: 5px;
        color: #61ff49;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .35s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

    .image-picker-frame {
        position: relative;
    }

    .image-picker-toggle-btn {
        width: 100%;
    }

    .image-picker-wrap {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
        padding: 10px;
        position: absolute;
        z-index: 9;
        margin-top: 10px;
        background-color: #fff;
    }

    .image-picker-body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 15px;
        max-height: 330px;
        padding-bottom: 10px;
        overflow-y: auto;
    }

    .image-wrap {
        width: 45px;
        height: 45px;
        margin: 0 auto;
        cursor: pointer;
        padding: 5px;
        overflow: hidden;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
    }

    .image-wrap:hover, .image-wrap.active {
        padding: 8px;
        background-color: #bfbfbf;
        box-shadow: rgba(0, 0, 0, 0.09) 0 3px 9px 2px;
        border-radius: 50px;
    }

    .image-wrap img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
</style>
