<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        Тексты
                        <a class="btn btn-primary create-item-btn" @click="openCreateEditModal('create')">Добавить текст</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover users-table">
                            <thead>
                                <tr>
                                    <th>
                                        Название
                                    </th>
                                    <th>
                                        Категория
                                    </th>
                                    <th>
                                        Текст
                                    </th>
                                    <th>
                                        Активен
                                    </th>
                                    <th>
                                        Создан
                                    </th>
                                    <th>
                                        Настройки
                                    </th>
                                </tr>
                            </thead>
                            <tbody is="transition-group" name="fade">
                                <tr v-for="article in articles" :key="article.id">
                                    <td class="title-td">
                                        <img :src="article.icon" v-if="article.icon" class="article-img">
                                        <a :href="article.link">
                                            {{ article.title }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ article.category ? article.category.title : 'Без категории' }}
                                    </td>
                                    <td>
                                        {{ article.description | strip_tags | truncate(120) }}
                                    </td>
                                    <td>
                                        <toggle-button
                                                :value="article.is_active"
                                                v-model="article.is_active"
                                                @change="updateArticle(article)"
                                        />
                                    </td>
                                    <td>
                                        {{ article.created_at }}
                                    </td>
                                    <td>
                                        <div class="btn btn-light" @click="openCreateEditModal('edit', article)">
                                            <i class="fas fa-edit"></i>
                                        </div>
                                        <div class="btn btn-danger" @click="deleteArticle(article)">
                                            <i class="fas fa-trash"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <create-edit-article-modal
                :article="currentArticle"
                :mode="mode"
                @articlesChanged="getArticles"
                @closeModal="closeCreateEditModal"
                v-if="showModal"
        />
    </div>
</template>

<script>
    import ToggleButton from 'vue-js-toggle-button/src/Button'
    import CreateEditArticleModal from '../articles/CreateEditArticleModal'
    import swal from 'sweetalert'

    export default {
        name: "articles-index",
        components: {
            ToggleButton,
            CreateEditArticleModal
        },
        data() {
            return {
                articles: [],
                currentArticle: {},
                mode: 'create',
                showModal: false
            }
        },
        methods: {
            getArticles() {
                axios.get('/admin/articles')
                    .then(response => {
                        let vm = this;
                        this.articles = [];
                        _.forEach(response.data.data, function (article) {
                            article.link = laroute.route('admin.articles.show', {id: article.id});
                            vm.articles.push(article);
                        })
                    })
            },
            openCreateEditModal(mode, article = {}) {
                this.mode = mode;
                this.currentArticle = article;
                this.showModal = true;
                setTimeout(()=>{
                    $('#create-edit-article-modal').modal('show');
                }, 100);
            },
            closeCreateEditModal() {
                this.showModal = false;
            },
            updateArticle(article) {
                axios.put(`/admin/articles/${article.id}`, article)
                    .catch(errors => {
                        console.log(errors);
                    })
            },
            deleteArticle(article) {
                swal({
                    title: "Вы уверены?",
                    text: "Удалённый текст нельзя будет восстановить",
                    icon: "warning",
                    buttons: ['Отменить', 'Да'],
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.delete(`/admin/articles/${article.id}`)
                                .then(() => {
                                    swal("Текст был успешно удален", {
                                        icon: "success",
                                    });
                                    this.getArticles();
                                });
                        } else {
                            swal("Текст не был удалён", {
                                icon: "info"
                            });
                        }
                    });
            }
        },
        mounted() {
            this.getArticles();
        }
    }
</script>

<style scoped>
    .article-img {
        border-radius: 25%;
        width: 70px;
        height: 70px;
        padding: 22px;
        background-color: #d8d8d8;
        -o-object-fit: cover;
        object-fit: cover;
        margin-right: 10px;
    }
    .title-td {
        display: flex;
        align-items: center;
    }
    td {
        vertical-align: middle;
    }
    .create-item-btn {
        position: absolute;
        right: 15px;
        top: 5px;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity 1.2s
    }
    .fade-enter, .fade-leave-to  {
        opacity: 0
    }
</style>
