<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div v-if="error404" class="error404">
                    {{ error404 }}
                </div>

                <div class="card card-default" v-else>
                    <div class="card-header">
                        <b>
                            {{ article.title }}
                        </b>
                    </div>
                    <div class="card-body" v-html="article.description"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "articles-show",
    data() {
      return {
        article: {},
        error404: ''
      }
    },
    computed: {
      articleId() {
        let splitted = window.location.href.split('/');
        return splitted[splitted.length - 1]
      }
    },
    methods: {
      getArticle() {
        axios.get(`/admin/articles/${this.articleId}`)
          .then(response => {
            this.article = response.data.data;
          })
          .catch(errors => {
            if (errors.response.status === 404) {
              this.error404 = 'Статья с таким ID не надена';
            }
          });
      }
    },
    mounted() {
      this.getArticle();
    }
  }
</script>

<style scoped>
    .error404 {
        font-size: 40px;
        text-align: center;
    }
</style>
