<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Example</div>
                    <div class="card-body">
                        Example
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'example-component',
        mounted() {
            console.log('Component ,lkjhg.')
        }
    }
</script>
