<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <b>
                            {{ operation.title }}
                        </b>
                        <img :src="operation.icon" class="operation-img">
                        <a class="btn btn-sm btn-primary " @click="openOperationModal('edit', operation)"  data-toggle="tooltip" data-placement="right" title="Редактировать операцию">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <!-- TAB NAVIGATION -->
                        <ul class="nav nav-tabs operation-tabs" role="tablist">
                            <li>
                                <a href="#tab1" role="tab" data-toggle="tab" class="active">
                                    <i class="fas fa-info"></i>
                                    Инфо
                                </a>
                            </li>
                            <li>
                                <a href="#tab2" role="tab" data-toggle="tab">
                                    <i class="fas fa-calendar-alt"></i>
                                    Подготовка ({{ preparationsCount }})
                                </a>
                            </li>
                            <li>
                                <a href="#tab3" role="tab" data-toggle="tab">
                                    <i class="fas fa-medkit"></i>
                                    Операция ({{ operationsCount }})
                                </a>
                            </li>
                            <li>
                                <a href="#tab4" role="tab" data-toggle="tab">
                                    <i class="fas fa-pills"></i>
                                    Восстановление ({{ recoveryCount }})
                                </a>
                            </li>
                        </ul>
                        <!-- TAB CONTENT -->
                        <div class="tab-content">
                            <div class="active tab-pane fade in show" id="tab1">
                                <div v-html="operation.description"></div>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th width="30%" style="position: relative;">
                                                Подкатегория
                                                <a class="btn btn-sm btn-primary create-item-btn" data-toggle="tooltip" data-placement="left" title="Добавить подкатегорию" @click="openCreateEditModal('create', 'preparation')">
                                                    <i class="fas fa-plus"></i>
                                                </a>
                                            </th>
                                            <th width="70%" style="position: relative;">
                                                Текст
                                                <a class="btn btn-sm btn-primary create-item-btn" @click="openArticleModal('create', {},  null, 'preparation')">
                                                    Добавить текст без подкатегории
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="operation.articles">
                                            <td>
                                                <h5>
                                                    Без категории
                                                </h5>
                                            </td>
                                            <td>
                                                <ul class="articles-list">
                                                    <li v-for="article in operation.articles" v-if="article.tab_code === 'preparation'">
                                                        <h5>
                                                            <img :src="article.icon" class="icon">
                                                            <a :href="'/articles/'+article.id">
                                                                {{ article.title }}
                                                            </a>
                                                            <a class="btn btn-sm btn-primary" @click="openArticleModal('edit', article)"  data-toggle="tooltip" data-placement="bottom" title="Редактировать текст">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                            <a class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Удалить текст" @click="deleteArticle(article)">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </h5>
                                                        <p>
                                                            {{ article.description | strip_tags | truncate(220) }}
                                                        </p>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr v-for="preparation in subcategories.preparation">
                                            <td style="position: relative;">
                                                <h5>
                                                    <img :src="preparation.icon" class="icon">
                                                    {{ preparation.title }}
                                                    <a class="create-item-btn">
                                                        <a class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Редактировать подкатегорию" @click="openCreateEditModal('edit', 'preparation', preparation)">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                        <div class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Удалить подкатегорию" @click="deleteSubcategory(preparation)">
                                                            <i class="fas fa-trash"></i>
                                                        </div>
                                                    </a>
                                                </h5>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-primary create-article-btn" @click="openArticleModal('create', {},  preparation.id)">
                                                    Добавить текст в эту подкатегорию
                                                </a>
                                                <ul class="articles-list">
                                                    <li v-for="article in preparation.articles">
                                                        <h5>
                                                            <img :src="article.icon" class="icon">
                                                            <a :href="'/articles/'+article.id">
                                                                {{ article.title }}
                                                            </a>
                                                            <a class="btn btn-sm btn-primary" @click="openArticleModal('edit', article,  preparation.id)"  data-toggle="tooltip" data-placement="bottom" title="Редактировать текст">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                            <a class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Удалить текст" @click="deleteArticle(article)">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </h5>
                                                        <p>
                                                            {{ article.description | strip_tags | truncate(220) }}
                                                        </p>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="tab3">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th width="30%" style="position: relative;">
                                                Подкатегория
                                                <a class="btn btn-sm btn-primary create-item-btn" data-toggle="tooltip" data-placement="left" title="Добавить подкатегорию" @click="openCreateEditModal('create', 'operation')">
                                                    <i class="fas fa-plus"></i>
                                                </a>
                                            </th>
                                            <th width="70%" style="position: relative;">
                                                Текст
                                                <a class="btn btn-sm btn-primary create-item-btn" @click="openArticleModal('create', {},  null, 'operation')">
                                                    Добавить текст без подкатегории
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="operation.articles">
                                            <td>
                                                <h5>
                                                    Без категории
                                                </h5>
                                            </td>
                                            <td>
                                                <ul class="articles-list">
                                                    <li v-for="article in operation.articles" v-if="article.tab_code === 'operation'">
                                                        <h5>
                                                            <img :src="article.icon" class="icon">
                                                            <a :href="'/articles/'+article.id">
                                                                {{ article.title }}
                                                            </a>
                                                            <a class="btn btn-sm btn-primary" @click="openArticleModal('edit', article)"  data-toggle="tooltip" data-placement="bottom" title="Редактировать текст">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                            <a class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Удалить текст" @click="deleteArticle(article)">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </h5>
                                                        <p>
                                                            {{ article.description | strip_tags | truncate(220) }}
                                                        </p>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr v-for="operation in subcategories.operation">
                                            <td>
                                                <h5>
                                                    <img :src="operation.icon" class="icon">
                                                    {{ operation.title }}
                                                    <a class="create-item-btn">
                                                        <a class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Редактировать подкатегорию" @click="openCreateEditModal('edit', 'operation', operation)">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                        <div class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Удалить подкатегорию" @click="deleteSubcategory(operation)">
                                                            <i class="fas fa-trash"></i>
                                                        </div>
                                                    </a>
                                                </h5>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-primary create-article-btn" @click="openArticleModal('create', {},  operation.id)">
                                                    Добавить текст в эту подкатегорию
                                                </a>
                                                <ul class="articles-list">
                                                    <li v-for="article in operation.articles">
                                                        <h5>
                                                            <img :src="article.icon" class="icon">
                                                            <a :href="'/articles/'+article.id">
                                                                {{ article.title }}
                                                            </a>
                                                            <a class="btn btn-sm btn-primary" @click="openArticleModal('edit', article,  operation.id)"  data-toggle="tooltip" data-placement="bottom" title="Редактировать текст">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                            <a class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Удалить текст" @click="deleteArticle(article)">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </h5>
                                                        <p>
                                                            {{ article.description | strip_tags | truncate(220) }}
                                                        </p>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="tab4">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th width="30%" style="position: relative;">
                                            Подкатегория
                                            <a class="btn btn-sm btn-primary create-item-btn" data-toggle="tooltip" data-placement="left" title="Добавить подкатегорию" @click="openCreateEditModal('create', 'recovery')">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </th>
                                        <th width="70%" style="position: relative;">
                                            Текст
                                            <a class="btn btn-sm btn-primary create-item-btn" @click="openArticleModal('create', {},  null, 'recovery')">
                                                Добавить текст без подкатегории
                                            </a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="operation.articles">
                                            <td>
                                                <h5>
                                                    Без категории
                                                </h5>
                                            </td>
                                            <td>
                                                <ul class="articles-list">
                                                    <li v-for="article in operation.articles" v-if="article.tab_code === 'recovery'">
                                                        <h5>
                                                            <img :src="article.icon" class="icon">
                                                            <a :href="'/articles/'+article.id">
                                                                {{ article.title }}
                                                            </a>
                                                            <a class="btn btn-sm btn-primary" @click="openArticleModal('edit', article)"  data-toggle="tooltip" data-placement="bottom" title="Редактировать текст">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                            <a class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Удалить текст" @click="deleteArticle(article)">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </h5>
                                                        <p>
                                                            {{ article.description | strip_tags | truncate(220) }}
                                                        </p>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr v-for="recovery in subcategories.recovery">
                                            <td>
                                                <h5>
                                                    <img :src="recovery.icon" class="icon">
                                                    {{ recovery.title }}
                                                    <a class="create-item-btn">
                                                        <a class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Редактировать подкатегорию" @click="openCreateEditModal('edit', 'recovery', recovery)">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                        <div class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Удалить подкатегорию" @click="deleteSubcategory(recovery)">
                                                            <i class="fas fa-trash"></i>
                                                        </div>
                                                    </a>
                                                </h5>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-primary create-article-btn" @click="openArticleModal('create', {},  recovery.id)">
                                                    Добавить текст в эту подкатегорию
                                                </a>
                                                <ul class="articles-list">
                                                    <li v-for="article in recovery.articles">
                                                        <h5>
                                                            <img :src="article.icon" class="icon">
                                                            <a :href="'/articles/'+article.id">
                                                                {{ article.title }}
                                                            </a>
                                                            <a class="btn btn-sm btn-primary" @click="openArticleModal('edit', article,  recovery.id)"  data-toggle="tooltip" data-placement="bottom" title="Редактировать текст">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                            <a class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Удалить текст" @click="deleteArticle(article)">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </h5>
                                                        <p>
                                                            {{ article.description | strip_tags | truncate(220) }}
                                                        </p>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <create-edit-subcategory-modal
                :subcategory="currentSubcategory"
                :tabCode="currentTabCode"
                :operationId="operationId"
                :mode="mode"
                @subcategoryChanged="getOperation"
                @closeModal="closeCreateEditModal"
                v-if="showSubcategoryModal"
        />
        <create-edit-article-modal
                :article="currentArticle"
                :subcategoryId="currentSubcategoryId"
                :mode="mode"
                :tabCode="currentTabCode"
                @articleChanged="getOperation"
                @closeModal="closeCreateEditModal"
                v-if="showArticleModal"
        />
        <create-edit-operation-modal
                :operation="currentOperation"
                :mode="mode"
                @closeModal="closeCreateEditModal"
                v-if="showOperationModal"
        />
    </div>
</template>

<script>
    import CreateEditSubcategoryModal from '../operations/CreateEditSubcategoryModal'
    import CreateEditArticleModal from '../operations/CreateEditArticleModal'
    import CreateEditOperationModal from '../categories/CreateEditOperationModal'
    import swal from 'sweetalert'

    export default {
        name: "operation-show",
        components: {
            CreateEditSubcategoryModal,
            CreateEditArticleModal,
            CreateEditOperationModal
        },
        data() {
            return {
                operation: {},
                subcategories: {
                    preparation: [],
                    operation: [],
                    recovery: []
                },
                showSubcategoryModal: false,
                showArticleModal: false,
                showOperationModal: false,
                currentSubcategory: {},
                currentSubcategoryId: null,
                currentArticle: null,
                currentOperation: null,
                currentTabCode: '',
                mode: 'create'
            }
        },
        computed: {
            operationId() {
                let splitted = window.location.href.split('/');
                return splitted[splitted.length - 1]
            },
            withOperations() {
                return !_.isEmpty(this.operations);
            },
            preparationsCount() {
                return this.subcategories.preparation.length;
            },
            operationsCount() {
                return this.subcategories.operation.length;
            },
            recoveryCount() {
                return this.subcategories.recovery.length;
            }
        },
        methods: {
            getOperation() {
                axios.get(`/admin/categories/${this.operationId}?with_articles=true`)
                    .then(response => {
                        this.operation = {};
                        this.subcategories =  {
                                preparation: [],
                                operation: [],
                                recovery: []
                        };
                        let vm = this;
                        this.operation = response.data.data;
                        if (response.data.data.children) {
                            _.forEach(response.data.data.children, function (subcategory) {
                                if (subcategory.tab_code === 'preparation') {
                                    vm.subcategories.preparation.push(subcategory);
                                } else if (subcategory.tab_code === 'operation') {
                                    vm.subcategories.operation.push(subcategory);
                                } else if (subcategory.tab_code === 'recovery') {
                                    vm.subcategories.recovery.push(subcategory);
                                }
                            });
                        }
                        // if (response.data.data.articles) {
                        //   _.forEach(response.data.data.articles)
                        // }
                    });
            },
            openCreateEditModal(mode, tab_code, subcategory = {}) {
                this.mode = mode;
                this.currentSubcategory = subcategory;
                this.currentTabCode = tab_code;
                this.showSubcategoryModal = true;
                setTimeout(()=>{
                    $('#create-edit-subcategory-modal').modal('show');
                }, 100);
            },
            openArticleModal(mode, article = {}, subcategoryId = null, tabCode = null) {
                this.mode = mode;
                this.currentArticle = article;
                if (!subcategoryId) {
                  this.currentSubcategoryId = this.operationId;
                } else {
                  this.currentSubcategoryId = subcategoryId;
                }
                this.showArticleModal = true;
                this.currentTabCode = tabCode;
                setTimeout(()=>{
                    $('#create-edit-article-modal').modal('show');
                }, 100);
            },
            openOperationModal(mode, operation = {}) {
                this.mode = mode;
                this.currentOperation = operation;
                this.showOperationModal = true;
                setTimeout(()=>{
                    $('#create-edit-operation-modal').modal('show');
                }, 100);
            },
            closeCreateEditModal() {
                this.showSubcategoryModal = false;
                this.showArticleModal = false;
                this.showOperationModal = false;
            },
            deleteSubcategory(subcategory) {
                swal({
                    title: "Вы уверены?",
                    text: "Удалённую подкатегорию нельзя будет восстановить",
                    icon: "warning",
                    buttons: ['Отменить', 'Да'],
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.delete(`/admin/categories/${subcategory.id}`)
                                .then(() => {
                                    swal("Подкатегория была успешно удалена", {
                                        icon: "success",
                                    });
                                    this.getOperation();
                                });
                        } else {
                            swal("Подкатегория не была удалена", {
                                icon: "info"
                            });
                        }
                    });
            },
            deleteArticle(article) {
                swal({
                    title: "Вы уверены?",
                    text: "Удалённый текст нельзя будет восстановить",
                    icon: "warning",
                    buttons: ['Отменить', 'Да'],
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.delete(`/admin/articles/${article.id}`)
                                .then(() => {
                                    swal("Текст был успешно удален", {
                                        icon: "success",
                                    });
                                    this.getOperation();
                                });
                        } else {
                            swal("Текст не был удалён", {
                                icon: "info"
                            });
                        }
                    });
            }
        },
        mounted() {
            this.getOperation();
        },
        updated() {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        }
    }
</script>

<style scoped>
    .operation-img {
        width: 35px;
        height: 35px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 10px;
    }
    .create-item-btn {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .articles-list {
        margin: 0;
        padding: 0;
    }
    .create-article-btn {
        margin-bottom: 10px;
    }
    .icon {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
    }
</style>
