
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-primary, .btn-danger {
  color: #ffffff !important;
}

.zambon-bg-color {
  background-color: #cc0;
}
.zambon-color {
  color: #cc0;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: rgb(255, 255, 255);
}

.sidebar {
  float: left;
  width: 100%;
  max-width: 240px;
  height: calc(100vh - 55px);
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  &-links {
    padding: 0 0 5px;
    margin-top: 15px;
    list-style: none;
  }
  &-link_item {
  }
  &-link {
    padding: 15px 30px;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #000;
    &:hover {
      color: #3f3f3f;
      text-decoration: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    &.active {
      color: #000;
      text-decoration: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}

.content {
  padding-top: 20px;
}

.modal {
  &.full-screen {
    width: 100vw;
    height: 100vh;
    padding: 0 !important;
    .modal-dialog {
      max-width: unset;
      margin: 0;
      .modal-content {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: none;
        .modal-body {
          min-height: calc(100vh - 67px);
          .modal-buttons {
            text-align: right;
          }
        }
      }
    }
  }
}

.operation-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & li {
    width: 25%;
    text-align: center;
    & a {
      display: block;
      &.active  {
        color: $zambon;
        border-bottom: 2px $zambon solid;
      }
      &:hover {
        text-decoration: none;
      }
      & i {
        display: block;
        font-size: 20px;
      }
    }
  }
}
.tab-pane {
  padding-top: 20px;
}
