<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Настройки</div>
                    <div class="card-body">
                        <table class="table table-hover settings-table">
                            <thead>
                            <th>
                                ID
                            </th>
                            <th width="35%">
                                Название
                            </th>
                            <th>
                                Значение
                            </th>
                            <th>
                                Код
                            </th>
                            <th>
                                Создана
                            </th>
                            </thead>
                            <tbody>
                            <tr v-for="setting in settings">
                                <td>
                                    {{ setting.id }}
                                </td>
                                <td>
                                    {{ setting.name }}
                                    <br>
                                    <code>{{ setting.description }}</code>
                                </td>
                                <td>
                                    {{ setting.value }}
                                </td>
                                <td>
                                    {{ setting.code }}
                                </td>
                                <td>
                                    {{ setting.created_at }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "settings-index",
        data() {
            return {
                settings: []
            }
        },
        methods: {
            getSettings() {
                axios.get('/admin/settings')
                    .then(response => {
                        this.settings = response.data.data;
                    })
            }
        },
        mounted() {
            this.getSettings();
        }
    }
</script>

<style scoped>

</style>