<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <b>{{ category.title }}</b>
                        <!--<img :src="category.image" class="category-img" v-if="category.image">-->
                        <a class="btn btn-primary create-item-btn" @click="openCreateEditModal('create')">Добавить операцию</a>
                    </div>
                    <div class="card-body">
                        <h4 class="operations-title">Операции:</h4>
                        <div v-if="withOperations" class="row">
                            <div v-for="operation in operations" class="col-md-4 operation-wrap">
                                <h5>
                                    <div class="operation-title-wrap">
                                        <img :src="operation.icon" class="category-img">
                                        <a :href="operation.link" class="operation-title">
                                            {{ operation.title }}
                                        </a>
                                    </div>
                                    <div class="create-item-btn-sm">
                                        <a class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Редактировать операцию" @click="openCreateEditModal('edit', operation)">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <div class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Удалить операцию" @click="deleteOperation(operation)">
                                            <i class="fas fa-trash"></i>
                                        </div>
                                    </div>
                                </h5>
                                <div class="operation-description" v-if="operation.description">
                                    {{ operation.description | strip_tags | truncate(400) }}
                                </div>
                                <div v-else>

                                </div>
                            </div>
                        </div>
                        <h5 v-else>В данной категории ещё нет операций</h5>
                    </div>
                </div>
            </div>
        </div>
        <create-edit-operation-modal
                :operation="currentOperation"
                :categoryId="categoryId"
                :mode="mode"
                @operationChanged="getCategory"
                @closeModal="closeCreateEditModal"
                v-if="showModal"
        />
    </div>
</template>

<script>
    import CreateEditOperationModal from '../categories/CreateEditOperationModal'
    export default {
        name: "category-show",
        components: {
            CreateEditOperationModal
        },
        data() {
            return {
                category: {},
                operations: [],
                showModal: false,
                currentOperation: {}
            }
        },
        computed: {
            categoryId() {
                let splitted = window.location.href.split('/');
                return splitted[splitted.length - 1]
            },
            withOperations() {
                return !_.isEmpty(this.operations);
            }
        },
        methods: {
            getCategory() {
                axios.get(`/admin/categories/${this.categoryId}`)
                    .then(response => {
                        let vm = this;
                        this.category = response.data.data;
                        vm.operations = [];
                        if (response.data.data.children) {
                            _.forEach(response.data.data.children, function (val) {
                                val.link = laroute.route('admin.operations.show', {id: val.id});
                                vm.operations.push(val);
                            });
                        }
                    });
            },
            openCreateEditModal(mode, category = {}) {
                this.mode = mode;
                this.currentOperation = category;
                this.showModal = true;
                setTimeout(()=>{
                    $('#create-edit-operation-modal').modal('show');
                }, 100);
            },
            closeCreateEditModal() {
                this.showModal = false;
            },
            deleteOperation(operation) {
                swal({
                    title: "Вы уверены?",
                    text: "Удалённую операцию нельзя будет восстановить",
                    icon: "warning",
                    buttons: ['Отменить', 'Да'],
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.delete(`/admin/categories/${operation.id}`)
                                .then(() => {
                                    swal("Операция была успешно удалена", {
                                        icon: "success",
                                    });
                                    this.getCategory();
                                });
                        } else {
                            swal("Операция не удалена", {
                                icon: "info"
                            });
                        }
                    });
            }
        },
        mounted() {
            this.getCategory();
        },
        updated() {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        }
    }
</script>

<style scoped>
    .operation-wrap {
        margin-bottom: 20px;
    }
    .operation-title-wrap {
        display: flex;
        align-items: center;
    }
    .operation-title {
        width: 65%;
    }
    .operations-title {
        margin-bottom: 30px;
    }
    .category-img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 25%;
        width: 70px;
        height: 70px;
        padding: 22px;
        background-color: #d8d8d8;
        object-fit: cover;
        margin-right: 10px;
    }
    .operation-title {
        font-weight: 700;
    }
    .create-item-btn {
        position: absolute;
        right: 15px;
        top: 5px;
    }
    .create-item-btn-sm {
        position: absolute;
        right: 15px;
        top: 5px;
    }
</style>
