<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        Категории
                        <a class="btn btn-primary create-item-btn" @click="openCreateEditModal('create')">Создать категорию</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover users-table">
                            <thead>
                                <tr>
                                    <th>
                                        Название
                                    </th>
                                    <th>
                                        Операции
                                    </th>
                                    <th>
                                        Активна
                                    </th>
                                    <th>
                                        Создана
                                    </th>
                                    <th>
                                        Настройки
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr v-for="category in categories">
                                <td class="title-td">
                                    <img :src="category.icon" v-if="category.icon" class="category-img">
                                    <a :href="category.link">
                                        {{ category.title }}
                                    </a>
                                </td>
                                <td>
                                    <ul class="operations-list">
                                        <li v-for="operation in category.children">
                                            <a :href="operation.link">
                                                {{ operation.title }}
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <toggle-button
                                            :value="category.is_active"
                                            v-model="category.is_active"
                                            @change="updateCategory(category)"
                                    />
                                </td>
                                <td>
                                    {{ category.created_at }}
                                </td>
                                <td>
                                    <div class="btn btn-light" @click="openCreateEditModal('edit', category)">
                                        <i class="fas fa-edit"></i>
                                    </div>
                                    <div class="btn btn-danger" @click="deleteCategory(category)">
                                        <i class="fas fa-trash"></i>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <create-edit-category-modal
                :category="currentCategory"
                :mode="mode"
                @categoriesChanged="getCategories"
                @closeModal="closeCreateEditModal"
                v-if="showModal"
        />
    </div>
</template>

<script>
    import ToggleButton from 'vue-js-toggle-button/src/Button'
    import CreateEditCategoryModal from '../categories/CreateEditCategoryModal'

    export default {
        name: "categories-index",
        components: {
            ToggleButton,
            CreateEditCategoryModal
        },
        data() {
            return {
                categories: [],
                currentCategory: {},
                mode: 'create',
                showModal: false
            }
        },
        filters: {
            truncate: function(value, length) {
                if (value) {
                    if (value.length < length) {
                        return value;
                    }
                    length = length - 2;
                    return value.substring(0, length) + '..';
                }
            }
        },
        methods: {
            getCategories() {
                axios.get('/admin/categories?parent_id=0')
                    .then(response => {
                        let vm = this;
                        vm.categories = [];
                        _.forEach(response.data.data, function (category) {
                           category.link = laroute.route('admin.categories.show', {id: category.id});
                           if (category.children) {
                               _.forEach(category.children, function (operation) {
                                   operation.link = laroute.route('admin.operations.show', {id: operation.id})
                               })
                           }
                           vm.categories.push(category);
                        });
                    })
            },
            updateCategory(category) {
                axios.put(`/admin/categories/${category.id}`, category)
                    .catch(errors => {
                        console.log(errors);
                    })
            },
            openCreateEditModal(mode, category = {}) {
                this.mode = mode;
                this.currentCategory = category;
                this.showModal = true;
                setTimeout(()=>{
                    $('#create-edit-category-modal').modal('show');
                }, 100);
            },
            closeCreateEditModal() {
                this.showModal = false;
            },
            deleteCategory(category) {
                swal({
                    title: "Вы уверены?",
                    text: "Удалённую категорию нельзя будет восстановить",
                    icon: "warning",
                    buttons: ['Отменить', 'Да'],
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.delete(`/admin/categories/${category.id}`)
                                .then(() => {
                                    swal("Категория была успешно удалена", {
                                        icon: "success",
                                    });
                                    this.getCategories();
                                });
                        } else {
                            swal("Мы не удаляли Вашу категорию", {
                                icon: "info"
                            });
                        }
                    });
            }
        },
        mounted() {
            this.getCategories();
        }
    }
</script>

<style scoped>
    .category-img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 25%;
        width: 70px;
        height: 70px;
        padding: 22px;
        background-color: #d8d8d8;
        object-fit: cover;
        margin-right: 10px;
    }
    .create-item-btn {
        position: absolute;
        right: 15px;
        top: 5px;
    }
    .title-td {
        display: flex;
        align-items: center;
    }
    td {
        vertical-align: middle;
    }
    .operations-list {
        margin: 0;
        padding: 0;
    }
</style>
