<template>
    <div class="modal fade full-screen" id="create-edit-category-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ modalTitle }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="title" class="col-sm-4 col-form-label text-md-right">Название</label>
                        <div class="col-md-6">
                            <input id="title" type="text" class="form-control" name="title"
                                   v-model="currentCategory.title"
                                   required autofocus>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title" class="col-sm-4 col-form-label text-md-right">{{ addImage ? 'Изображение' :
                            '' }}</label>
                        <div class="col-md-6">
                            <button class="btn btn-sm btn-primary create-item-btn" @click="toggleAddImageInput()">{{
                                addImageText }}
                            </button>
                            <br>
                            <input type="file" id="files" ref="files" class="form-control" name="image" v-if="addImage"
                                   v-on:change="handleFilesUpload()">
                        </div>
                    </div>
                    <div class="form-group row" v-if="showDeleteImage">
                        <label for="title" class="col-sm-4 col-form-label text-md-right"></label>
                        <div class="col-md-6">
                            <img :src="currentCategory.image"
                                 class="img-fluid rounded"
                                 width="300">
                            <br>
                            <br>
                            <button class="btn btn-sm btn-warning create-item-btn" @click="deleteImage()"><i
                                    class="fas fa-trash"></i> Удалить изображение
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-md-right">Иконка</label>
                        <div class="col-md-6">
                            <image-picker
                                    v-model="currentCategory.icon"
                                    @change="chooseIcon($event)"
                            />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 offset-4">
                            <div class="modal-buttons">
                                <button type="button" class="btn btn-default" @click="askCloseModal()">Отменить</button>
                                <button type="button" class="btn btn-primary" @click="submit()">Сохранить изменения
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>

<script>
  import swal from 'sweetalert'
  import ImagePicker from '../../services/ImagePicker'

  export default {
    name: "create-edit-category-modal",
    components: {
      ImagePicker
    },
    props: ['category', 'mode'],
    data() {
      return {
        currentCategory: this.category,
        categoryIsChanged: false,
        files: [],
        addImage: false
      }
    },
    computed: {
      showDeleteImage() {
        return !_.isEmpty(this.currentCategory.image);
      },
      addImageText() {
        return this.showDeleteImage ? 'Загрузить новое изображение' : 'Добавить изображение';
      },
      modalTitle() {
        return this.mode === 'create' ? 'Создание категории' : `Редактирование категории ${this.currentCategory.title}`;
      },
      formActionUrl() {
        return this.mode === 'create' ? '/admin/categories' : `/admin/categories/${this.currentCategory.id}`;
      },
      axiosOptions() {
        const data = new FormData();

        Object.keys(this.currentCategory).forEach(e => {
          data.append(e, this.currentCategory[e]);
        });

        if (this.files[0]) {
          data.append('image', new Blob([this.files[0]], {type: this.files[0].mimeType}));
        }

        this.mode === 'create' ? data.append('_method', 'POST') : data.append('_method', 'PUT');

        return {
          method: 'POST',
          url: this.mode === 'create' ? '/admin/categories' : `/admin/categories/${this.currentCategory.id}`,
          data: data,
        }
      }
    },
    methods: {
      toggleAddImageInput() {
        this.addImage = !this.addImage
      },
      deleteImage() {
        swal({
          title: "Вы уверены?",
          text: "Изображение будет удалено навсегда",
          icon: "warning",
          buttons: ['Отменить', 'Да'],
          dangerMode: true,
        })
          .then((willDelete) => {
            if (willDelete) {
              this.currentCategory.image = null;
              axios(this.axiosOptions)
                .then(response => {
                  swal({
                    title: 'Изображение удалено',
                    icon: 'success'
                  });
                })
                .catch(errors => {
                  swal({
                    title: 'Произошла ошибка',
                    icon: 'error'
                  });
                });
            }
          });
      },
      handleFilesUpload() {
        let uploadedFiles = this.$refs.files.files;

        for (let i = 0; i < uploadedFiles.length; i++) {
          this.files.push(uploadedFiles[i]);
        }
      },

      removeFile(key) {
        this.files.splice(key, 1);
      },
      submit() {
        axios(this.axiosOptions)
          .then(response => {
            $('#create-edit-category-modal').modal('hide');
            swal({
              title: 'Категория была успешно создана',
              icon: 'success'
            });
            this.$emit('categoriesChanged');
            this.$emit('closeModal');
            this.currentCategory = {};
          })
          .catch(errors => {
            swal({
              title: 'Упс, ошибка при создании',
              icon: 'error'
            });
          });
      },
      askCloseModal() {
        if (_.isEmpty(this.currentCategory) || !this.categoryIsChanged) {
          $('#create-edit-category-modal').modal('hide');
          this.$emit('closeModal');
        } else {
          swal({
            title: "Вы уверены?",
            text: "При выходе, Ваши изменения удаляться",
            icon: "warning",
            buttons: ['Отменить', 'Да'],
            dangerMode: true,
          })
            .then((willDelete) => {
              if (willDelete) {
                this.currentCategory = {};
                $('#create-edit-category-modal').modal('hide');
                this.$emit('closeModal');
              }
            });
        }
      },
      chooseIcon(icon) {
        this.currentCategory.icon = icon;
      }
    },
    mounted() {
      $('input.form-control').change(() => {
        this.categoryIsChanged = true;
      });
    }
  }
</script>

<style scoped>

</style>
