<template>
    <div class="modal fade full-screen" id="create-edit-operation-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ modalTitle }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="title" class="col-sm-4 col-form-label text-md-right">Название</label>
                        <div class="col-md-6">
                            <input id="title" type="text" class="form-control" name="title"
                                   v-model="currentOperation.title"
                                   required autofocus>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title" class="col-sm-4 col-form-label text-md-right">{{ addImage ? 'Изображение' :
                            '' }}</label>
                        <div class="col-md-6">
                            <button class="btn btn-sm btn-primary create-item-btn" @click="toggleAddImageInput()">{{
                                addImageText }}
                            </button>
                            <br>
                            <input type="file" id="files" ref="files" class="form-control" name="image" v-if="addImage"
                                   v-on:change="handleFilesUpload()">
                        </div>
                    </div>
                    <div class="form-group row" v-if="showDeleteImage">
                        <label for="title" class="col-sm-4 col-form-label text-md-right"></label>
                        <div class="col-md-6">
                            <img :src="currentOperation.image"
                                 class="img-fluid rounded"
                                 width="300">
                            <br>
                            <br>
                            <button class="btn btn-sm btn-warning create-item-btn" @click="deleteImage()"><i
                                    class="fas fa-trash"></i> Удалить изображение
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-md-right">Иконка</label>
                        <div class="col-md-6">
                            <image-picker
                                    v-model="currentOperation.icon"
                                    :icons="iconsArray"
                                    @change="chooseIcon($event)"
                            />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-4 col-form-label text-md-right">Инфо</label>
                        <div class="col-md-6">
                            <vue-ckeditor
                                    id="description"
                                    v-model="currentOperation.description"
                                    :config="ckConfig"
                                    @focus="onFocus($event)"
                            />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 offset-4">
                            <div class="modal-buttons">
                                <button type="button" class="btn btn-default" @click="askCloseModal">Отменить</button>
                                <button type="button" class="btn btn-primary" @click="submit">Сохранить изменения
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>

<script>
  import swal from 'sweetalert'
  import VueCkeditor from 'vue-ckeditor2'
  import ImagePicker from '../../services/ImagePicker'

  export default {
    name: "create-edit-operation-modal",
    props: ['operation', 'categoryId', 'mode'],
    components: {
      VueCkeditor,
      ImagePicker
    },
    data() {
      return {
        currentOperation: this.operation,
        operationIsChanged: false,
        ckConfig: {
          toolbar: [
            {
              name: 'basicstyles',
              items: [
                'Format',
                'Bold',
                'Italic',
                'Underline',
                'Strike',
                'Subscript',
                'Superscript',
                'BulletedList',
                'NumberedList',
                'Blockquote',
                'JustifyLeft',
                'JustifyCenter',
                'JustifyRight',
                'JustifyBlock',
                'Link',
                'Unlink',
                'FontSize',
                'TextColor',
                'Image',
                'Undo',
                'Redo',
                'Source',
                'Maximize',
              ],

            },
          ],
          height: 400,
          filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
          filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?type=Images',
          filebrowserUploadUrl: '/admin/images?_token=' + window.token.content,
          filebrowserImageUploadUrl: '/admin/images?_token=' + window.token.content,
          extraPlugins: 'htmlbuttons',
        },
        iconsArray: [],
        files: [],
        addImage: false,
      }
    },
    computed: {
      showDeleteImage() {
        return !_.isEmpty(this.currentOperation.image);
      },
      addImageText() {
        return this.showDeleteImage ? 'Загрузить новое изображение' : 'Добавить изображение';
      },
      modalTitle() {
        return this.mode === 'create' ? 'Добавление операции' : `Редактирование операции ${this.currentOperation.title}`;
      },
      axiosOptions() {
        if (this.categoryId) {
          this.currentOperation.parent_id = this.categoryId;
        }
        const data = new FormData();

        Object.keys(this.currentOperation).forEach(e => {
          data.append(e, this.currentOperation[e]);
        });

        if (this.files[0]) {
          data.append('image', new Blob([this.files[0]], {type: this.files[0].mimeType}));
        }

        this.mode === 'create' ? data.append('_method', 'POST') : data.append('_method', 'PUT');

        return {
          method: 'POST',
          url: this.mode === 'create' ? '/admin/categories' : `/admin/categories/${this.currentOperation.id}`,
          data: data,
        }
      }
    },
    methods: {
      getIcons() {
        axios.get('/admin/icons')
          .then(response => {
            this.iconsArray = response.data;
          });
      },
      toggleAddImageInput() {
        this.addImage = !this.addImage
      },
      deleteImage() {
        swal({
          title: "Вы уверены?",
          text: "Изображение будет удалено навсегда",
          icon: "warning",
          buttons: ['Отменить', 'Да'],
          dangerMode: true,
        })
          .then((willDelete) => {
            if (willDelete) {
              this.currentOperation.image = null;
              axios(this.axiosOptions)
                .then(response => {
                  swal({
                    title: 'Изображение удалено',
                    icon: 'success'
                  });
                })
                .catch(errors => {
                  swal({
                    title: 'Произошла ошибка',
                    icon: 'error'
                  });
                });
            }
          });
      },
      handleFilesUpload() {
        let uploadedFiles = this.$refs.files.files;

        for (let i = 0; i < uploadedFiles.length; i++) {
          this.files.push(uploadedFiles[i]);
        }
      },

      removeFile(key) {
        this.files.splice(key, 1);
      },
      submit() {
        axios(this.axiosOptions)
          .then(response => {
            $('#create-edit-operation-modal').modal('hide');
            swal({
              title: 'Операция была успешно сохранена',
              icon: 'success'
            });
            this.$emit('operationChanged');
            this.$emit('closeModal');
            this.currentOperation = {};
          })
          .catch(errors => {
            swal({
              title: 'Упс, ошибка при создании',
              icon: 'error'
            });
          });
      },
      askCloseModal() {
        if (_.isEmpty(this.currentOperation) || !this.operationIsChanged) {
          $('#create-edit-operation-modal').modal('hide');
          this.$emit('closeModal');
        } else {
          swal({
            title: "Вы уверены?",
            text: "При выходе, Ваши изменения удаляться",
            icon: "warning",
            buttons: ['Отменить', 'Да'],
            dangerMode: true,
          })
            .then((willDelete) => {
              if (willDelete) {
                this.currentOperation = {};
                $('#create-edit-operation-modal').modal('hide');
                this.$emit('closeModal');
              }
            });
        }
      },
      onFocus(editor) {
        console.log(editor);
      },
      chooseIcon(icon) {
        this.currentOperation.icon = icon;
      }
    },
    mounted() {
      $('input.form-control').change(() => {
        this.operationIsChanged = true;
      });
      this.getIcons();
    }
  }
</script>

<style scoped>

</style>
