<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Пользователи</div>
                    <div class="card-body">
                        <table class="table table-hover users-table">
                            <thead>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Роль
                                </th>
                                <th>
                                    Имя
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Аватар
                                </th>
                                <th>
                                    Бесконечный доступ
                                </th>
                                <th>
                                    Создан
                                </th>
                            </thead>
                            <tbody>
                                <tr v-for="user in users">
                                    <td>
                                        {{ user.id }}
                                    </td>
                                    <td>
                                        {{ user.role === 'user' ? 'Пользователь' : 'Админ' }}
                                    </td>
                                    <td>
                                        {{ user.name }}
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        <img v-if="user.avatar" :src="user.avatar" class="user-avatar">
                                    </td>
                                    <td>
                                        <span class="badge badge-success" v-if="user.forever_access">Да</span>
                                        <span class="badge badge-warning" v-else>Нет</span>
                                    </td>
                                    <td>
                                        {{ user.created_at }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "users-index",
        data() {
            return {
                users: []
            }
        },
        methods: {
            getAllUsers() {
                axios.get('/admin/users')
                    .then(response => {
                        this.users = response.data.data;
                    })
            }
        },
        mounted() {
            this.getAllUsers();
        }
    }
</script>

<style scoped>
    .user-avatar {
        width: 50px;
        height: 50px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        object-fit: cover;
    }
    .users-table td {
        vertical-align: middle;
    }
</style>